.questions {
  background-image: url("../img/photo-down.jpg");  
  background-size: initial;
  background-position: center;
  height: 100%;
}

.questions__background {
  background-color: rgba(47, 50, 75, 0.85);
  min-height: 621px; 
}

.container__questions {
  padding-top: 65px;
  padding-bottom: 66px;
}

.questions__title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 11px;
}

.questions__subtitle {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: var(--main-color);
  opacity: 0.8;
  margin-bottom: 48px;
}

.questions__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

.questions__input {
  background-color: transparent;
  padding: 9px 0 9px 25px;
  width: 423px; 
  min-height: 44px;
  border: 1.38px solid #fff;
  border-radius: 50px;
  font-weight: 400;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.questions__input:nth-child(3) {
  margin-bottom: 49px;
}

.questions__btn {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--main-color);
  background-color: var(--btn-color);
  padding: 13px 38px;
  border-radius: 50px;
  box-shadow: 0 4px 25px 0 rgba(21, 169, 203, 0.3);
}

.questions__text {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: var(--main-color);
}

.questions__text_span {
  color: #4a76a8;
  text-decoration: underline;
}

@media all and (max-width: 1024px){
  .questions__background {
    min-height: 558px; 
  }

  .questions__title {
    font-size: 32px;
    margin-bottom: 16px;
  }
  
  .questions__subtitle {
    font-size: 20px;
  }

  .questions__form {
    margin-bottom: 30px;
  }

  .questions__input {
    max-width: 376px;
    min-height: 39px;
  }

  .questions__text {
    font-size: 17px;
  }

  .questions__btn {
    padding: 11px 38px;
  }
}

@media all and (max-width: 480px){
  .questions__background {
    min-height: 398px; 
  }

  .container__questions {
    padding: 30px 15px
  }

  .questions__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .questions__subtitle {
    font-size: 12px;
    margin-bottom: 35px;
  }

  .questions__input {
    padding: 6px 0 6px 18px;
    max-width: 290px;
    min-height: 28px;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .questions__input:nth-child(3) {
    margin-bottom: 45px;
  }

  .questions__btn {
    font-size: 16px;
    padding: 10px 26px;
  }

  .questions__text {
    font-size: 11px;
  }
}